*.code-workspace
*.pyc
.vscode
__pycache__

quarry

McPyConfig.yaml
/.idea/

# Folders/Files that we create
McPy/
libs/
/plugins/
/classes/plugins/events.pickle
/minecraft-data/

# Eclipse files
.project
.pydevproject
.settings/

