[submodule "libs/pathfinding"]
	path = libs/pathfinding
	url = https://github.com/brean/python-pathfinding
[submodule "libs/quarry"]
	path = libs/quarry
	url = https://github.com/barneygale/quarry
[submodule "minecraft-data"]
	path = minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
